.round_out{
    border-radius: 20px;
    box-shadow:0px 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.round_out img,
.card-body{
    border-radius: 1.5rem;
}
.round_out h5{
    font-size: 1.3rem;
    font-weight: bold;
}
.txt_size{
    font-size: 1.3rem;
    font-weight: bold;
}
.round_out{
    display: flex;
    
}